
[Unit]
Description=Drone Runner CI/CD
After=docker.service
After=drone.service
Requires=docker.service
Wants=network-online.target docker.socket

[Service]
 TimeoutStartSec=infinity

ExecStartPre=-/usr/bin/docker kill drone-runner-docker
ExecStartPre=-/usr/bin/docker rm drone-runner-docker
# ExecStartPre=/usr/bin/docker pull drone/drone-runner-docker:1

ExecStart=/usr/bin/docker run --rm --name drone-runner \
    -e TZ=America/New_York \
    -e DRONE_RPC_PROTO=http \
    -e DRONE_RPC_HOST={{ inventory_hostname }}:{{ gitea_drone_port }} \
    -e DRONE_RPC_SECRET={{ drone_rpc_key }} \
    -e DRONE_RUNNER_CAPACITY=2 \
    -e DRONE_RUNNER_NAME=Runner1 \
    -e DRONE_UI_USERNAME=root \
    -e DRONE_UI_PASSWORD=root \
    -p {{ gitea_dronerunner_port }}:3000 \
    -v /var/run/docker.sock:/var/run/docker.sock \
    drone/drone-runner-docker:1

ExecStop=/usr/bin/docker stop drone-runner
ExecStopPost=/usr/bin/docker rm -f drone-runner
ExecReload=/usr/bin/docker restart drone-runner

Restart=always
RestartSec=20s
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
