
[Unit]
Description=Drone Runner CI/CD
After=docker.service
After=drone.service
Requires=docker.service
Wants=network-online.target docker.socket

[Service]
 TimeoutStartSec=infinity

ExecStartPre=-/usr/bin/docker kill drone-runner-docker
ExecStartPre=-/usr/bin/docker rm drone-runner-docker
# ExecStartPre=/usr/bin/docker pull drone/drone-runner-docker:latest

ExecStart=/usr/bin/docker run --rm --name drone-runner{% if lookup('env', 'MOLECULE_SCENARIO_NAME') %}-ubuntu-{{ ansible_distribution_release }}{% endif%} \
    -e TZ=America/New_York \
    --env-file "{% for dataset in gitea_datasets %}{% if dataset.name == 'gitea' %}{{ dataset.mountpoint }}{{ gitea_drone_env_file }}{% endif %}{% endfor %}" \
    -e DRONE_RUNNER_CAPACITY={{ gitea_dronerunner_capacity }} \
    -e DRONE_RUNNER_NAME=Runner1 \
    -e DRONE_UI_USERNAME=root \
    -e DRONE_UI_PASSWORD=root \
    -p {{ gitea_dronerunner_port }}:3000 \
    -v /var/run/docker.sock:/var/run/docker.sock \
    drone/drone-runner-docker:latest

ExecStop=/usr/bin/docker stop drone-runner
ExecStopPost=/usr/bin/docker rm -f drone-runner
ExecReload=/usr/bin/docker restart drone-runner

Restart=always
RestartSec=20s
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
