#
# Environment variables for drone
#

DRONE_DEBUG=true
DRONE_NETWORK=git

DRONE_LOGS_PRETTY=true
DRONE_LOGS_COLOR=true

DRONE_RPC_SECRET={{ drone_rpc_key }}
# These two for drone-runner and drone-runner--exec
DRONE_RPC_PROTO=http
DRONE_RPC_HOST={{ inventory_hostname }}:{{ gitea_drone_port }}

DRONE_GITEA_SERVER=http://{{ inventory_hostname }}:{{ gitea_container_port }}

DRONE_SERVER_PROTO=http
DRONE_SERVER_HOST={{ inventory_hostname }}:{{ gitea_drone_port }}

DRONE_USER_CREATE=username:{{ gitea_drone_admin }},admin:true,token:{{ drone_cmd_token }}
# Can also specify token by adding ",token:<32-char-token>"
DRONE_TOKEN={{ drone_cmd_token }}
